.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__name {
  height: 15px;
}
.header__name:hover {
  cursor: pointer;
}
.header__icon {
  width: 30px;
  height: 30px;
}
.header__icon:hover {
  cursor: pointer;
}
